<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brewski.enmasse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.brewski.enmasse.activities.Globals"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/my_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.brewski.enmasse.activities.HomeActivity"
            android:label="@string/my_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brewski.enmasse.activities.EventActivity"
            android:parentActivityName="com.brewski.enmasse.activities.HomeActivity" />
        <activity android:name="com.brewski.enmasse.activities.OldViewEventActivity" />
        <activity
            android:name="com.brewski.enmasse.activities.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.brewski.enmasse.activities.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
    </application>

</manifest>
